.songTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.songListNav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
    justify-content: space-evenly;
    list-style: none;
}

.songListDiv {
    padding-top: 11em;
    position: relative;
}
