@import 'styles/_mixins';

.songTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    .songListNav {
        @include flexing(space-evenly);
        margin: 0;
        padding: 0;
        background-color: black;
        list-style: none;
    }
}

.songListDiv {
    padding-top: 11em;
    position: relative;
}
