@import 'styles/_mixins';

.list {
    min-height: 100vh;
}

.colorlist {
    @include flexing(center);
}

.navLi {
    transition: 0.5s ease-in-out;
    &:hover {
        @include liDeco;
    }
}

.navLi.active {
    @include liDeco;
}

.music-container {
    display: flex;
    color: white;

    .musicData {
        @include flexBaby(1, center);
        padding-right: 1em;
    }

    .artData {
        @include flexBaby(2, end);
        margin-right: 1em;
        a {
            @include textDeco(1em);
        }
    }
}

.colorDiv {
    margin-top: 1em;
}