.list {
    min-height: 100vh;
}

.colorlist {
    display: flex;
    justify-content: center;
}

li.active {
    padding: 1em;
    background-color: white;
}

.music-container {
    display: flex;
    color: white;
}
.musicData {
    flex: 1;
    text-align: center;
    padding-right: 1em;
}

.artData {
    flex: 2;
    text-align: end;
    margin-right: 1em;
    a {
        color: white;
        text-decoration: none;
    }
}

.colorDiv {
    margin-top: 1em;
}