@import 'styles/_mixins';

nav {
    @include flexing(space-between);
    background-color: black;
    padding-top: 1.5em;
    height: 4.5rem;
    color: white;
    .rightNav {
        padding-top: 1em;
    }
    .leftNav {
        padding-left: 1em;
        margin-top: -1.5em;
    }
}

span {
    color: #1DB954;
}

.linkSpotify {
    @include textDeco(1.5em);
    font-weight: 600;
}

.links {
    margin: 0.8em;
    @include textDeco(1.5em);
}
