nav {
    display: flex;
    padding-top: 1.5em;
    height: 4.5rem;
    background-color: black;
    color: white;
    justify-content: space-between;
}

span {
    color: #1DB954;
}

.leftNav {
    padding-left: 1em;
    margin-top: -1.5em;
}

.linkSpotify {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 700;
}

.rightNav {
    padding-top: 1em;
}

.links {
    margin: 0.8em;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
