@import 'styles/_mixins';

.homeDiv {
    display: flex;
    height: 100vh;
    background-color: white;
}

.d3Div {
    flex: 1;
    box-shadow: 0px 0px 3px rgba(0,0,0,.15);
}

.formDiv {
    @include flexBaby(0.3, center);
    padding-top: 5em;

    select {
        font-size: 18px;
        color: #60666d;
        padding: 0.5em;
        cursor: pointer;
        outline: none;
    }

    .btn {
        @include btn(black);
        font-size: 0.8rem;
    }
}


.hidden {
    display: none;
}

