@import 'styles/_mixins';

$spotifyColor: #1DB954;

.loginDiv {
    background-color: white;
    height: 100vh;
    text-align: center;
}

.h2Div {
    padding-top: 3em;
    color: $spotifyColor;
    font-weight: 600;
}

.loginBtn {
    @include btn($spotifyColor);
    background-color: $spotifyColor;
    @include textDeco(1em);
}
